@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  padding: 0 150px;
}

.fullpage {
  margin-top: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-gauche {
  width: 60%;
  display: flex;
  align-items: center;
}
.header-gauche__logo {
  margin-right: 40px;
}
nav {
  justify-content: space-around;
  display: flex;
  width: 400px;
}
nav a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}
.header-droite {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}

/*nav{
        width:200px ;
        margin-left: 5%; 
        display: flex;
        justify-content: space-between;
        width:400px ;
         color: hsl(219, 9%, 45%);}*/

.header-droite__logo-panier {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 40px;
  cursor: pointer;
}

.header-droite__photo-profil {
  align-items: center;
  justify-content: center;
  display: flex; /*margin-right: 200px;*/
}
.header-droite__photo-profil img {
  width: 55px;
}

.ligne-separatrice {
  border-bottom: 1px solid black;
  width: 80%;
  opacity: 10%;
}

.contenu {
  height: 65%;
  width: 80%;
  margin-bottom: 5%;
  display: flex;
}

.section-gauche {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.section-gauche__image-principale {
  height: 70%;
  width: 55%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 4%;
}
.section-gauche__image-principale img {
  width: 100%;
  height: 100%;
}
.petite-images {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.section-gauche__petite-images--1 {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-gauche__petite-images--1 img {
  width: 97%;
  border-radius: 10px;
  overflow: hidden;
  height: 97%;
}
.section-gauche__petite-images--1:hover {
  background-color: orangered;
}

.section-gauche__petite-images--2 {
  border: 1px solid orange;
  border-radius: 10px;
  height: 60px;
}
.section-gauche__petite-images--2 img {
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.section-gauche__petite-images--3 {
  border: 1px solid orange;
  border-radius: 10px;
  height: 60px;
}
.section-gauche__petite-images--3 img {
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.section-gauche__petite-images--4 {
  border: 1px solid orange;
  border-radius: 10px;
  height: 60px;
}
.section-gauche__petite-images--4 img {
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.section-droite {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.section-droite__titre {
  color: hsl(26, 100%, 55%);
  margin-bottom: -20px;
  font-size: 15px;
  margin-top: 30px;
}
.section-droite__titre-grand {
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: bolder;
}
.section-droite__prix {
  display: flex;
  margin-top: -20px;
}
.section-droite__pourcentage__solde {
  width: 6%;
  margin-left: 3%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(25, 100%, 94%);
}
.section-droite__pourcentage__solde p {
  width: 90%;
  height: 90%;
  color: orange;
  font-weight: bold;
}
.ancien-prix {
  text-decoration: line-through;
  font-size: 13px;
  margin-top: -35px;
  color: hsl(219, 9%, 45%);
}
.section-droite__pied {
  width: 100%;
  display: flex;
  margin-top: -15px;
}
.section-droite__pied__gauche {
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(223, 64%, 98%);
  display: flex;
  width: 170px;
  border-radius: 10%;
  height: 40px;
}
.section-droite__pied__droit {
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(223, 64%, 98%);
  display: flex;
  width: 200px;
  border-radius: 10%;
  height: 45px;
  margin-left: 5%;
  margin-top: -5px;
  background: hsl(26, 100%, 55%);
}
.section-droite__pied__droit img {
  color: white;
}
.section-droite__pied__droit p {
  color: white;
  margin-left: -70px;
}

.visible {
  opacity: 1 !important;
  top: 150px !important;
}

.img-container {
  width: 30px;
  height: 30px;
}

.img-container img {
  width: 100%;
}

.icon-menu {
  display: none;
}

@media screen and (max-width: 700px) {
  body {
    padding: 0;
  }
  .fullpage {
    margin: 0;
    padding: 1rem 1rem;
  }
  nav {
    display: none;
  }
  .header-droite__logo-panier {
    margin-right: 0;
  }

  .icon-menu {
    display: block;
    margin-right: 0.5rem;
    left: -400px;
    transition: all 0.6s;
  }
  .item {
    margin-left: 20px;
    text-decoration: none;
    margin-top: 30px;
  }
}
.icone-menu {
  margin-right: 20px;
  visibility: hidden;
}

.panier-ouvert {
  border: 1px solid hsl(219, 9%, 45%);
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 1000px;
  margin-bottom: 250px;
  background-color: white;
  align-items: start;
  /* opacity: 0; */
  top: -400px;
  transition: all 0.6s;
}
.ligne-separatrice--2 {
  border-bottom: 1px solid black;
  width: 80%;
  opacity: 10%;
  margin-left: 30px;
}

.panier-ouvert h4 {
  align-items: center;
  line-height: 200px;
  margin-left: 75px;
  color: hsl(219, 9%, 45%);
}

.menu {
  border: 1px solid black;
  height: 1500px;
  position: absolute;
  width: 55%;
  background-color: rgb(255, 255, 255);
  left: 0px;
  text-decoration: none;
  left: -500px;
  transition: left 0.3s ease-in-out;
}

.icone-fermer {
  position: absolute;
  height: 30px;
  width: 30px;
}
.clique-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.item {
  margin-left: 20px;
  text-decoration: none;
  margin-top: 25px;
}
.menu-box {
  margin-top: 30px;
  text-decoration: none;
}
.menu-box a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.delete {
  margin-top: 5px;
}

.menu-visible {
  left: 0;
}
